body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    margin-top: 100px;
    color: lime;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.div>button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
}

.div>button>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}